<!DOCTYPE html>

<html lang="es">

	<head>
	
	    <meta charset="utf-8">
    
        <meta name="robots" content="index,follow">

	    <meta name="description" content="Dentista Luna-Málaga.¿Necesitas un dentista profesional?,llamanos!!952323256, Urgencias 952366969.Estamos a tu disposición, no lo dudes tu salud es lo más importante, cuida tus dientes.">

	    <meta name="keywords" content="Odontólogo general,Odontopediatra,Periodoncista,Cirujano Oral">

	    <meta name="revisit after" content="7 days">
    
        <meta name="category" content="Dentista General">
        
        <title>Odontologia Luna</title>
        
        <link rel="stylesheet" href="../css/estilos.css">
        <link rel="icon" href="../favicon.ico" type="image/png">


        <link href="https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap" rel="stylesheet"> 
        <link href="https://fonts.googleapis.com/css2?family=Dosis&family=Indie+Flower&display=swap" rel="stylesheet"> 
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css">
	
    </head>
    <body>
        <header>
            <div class="header-content">
                <h1 class="web-name left">Odontologia</h1>
                <img src="../assets/img/luna_favicon.png" alt="imagen de una luna" class="logotipo">
                <h1 class="web-name right">Luna</h1> 
            </div>
        </header>
        <nav class="sticky">
            <a href="../index.html" target="_self">Inicio</a>
            <a href="#" target="_self" class="selected-menu">Galería</a>
            <a href="./presupuesto.html" target="_self">Presupuestos</a>
            <a href="./contactos.html" target="_self">Contacto</a>
        </nav>
        <main class="galery">
            <section class="galery-content">
                <h2 class="galeryTitle">Galeria</h2>
                    <div class="image-galery">
                        <img class="img-galery" src="../assets/img/Blanqueamiento.png" alt="Blanqueamiento">                
                        <img class="img-galery" src="../assets/img/cirugia.jpg" alt="Cirugia">                
                        <img class="img-galery" src="../assets/img/corrector.jpg" alt="Corrector">                
                        <img class="img-galery" src="../assets/img/endodoncia.jpg" alt="Endodoncia">                
                        <img class="img-galery" src="../assets/img/Caries.jpg" alt="Caries">                
                        <img class="img-galery" src="../assets/img/Brackets.jpg" alt="Brackets">                
                        <img class="img-galery" src="../assets/img/radiofocal.jpg" alt="Radiofocal">                
                        <img class="img-galery" src="../assets/img/Radiografia.jpg" alt="Radiografia">                
                        <img class="img-galery" src="../assets/img/implante.jpg" alt="Implante">                
                        <img class="img-galery" src="../assets/img/implante_2.jpg" alt="Implantes">                
                        <img class="img-galery" src="../assets/img/sonrisa.jpg" alt="Sonrisa">                
                        <img class="img-galery" src="../assets/img/fondo.jpg" alt="Consulta">              
                    </div>
            </section>
        </main>
        <footer class="content-section">
            <section class="first">
                <h2>Calidad Garantizada</h2>
                <div class="logo-content left">
                    <p>Calidad certificada</p>
                    <img src="../assets/img/calidad.png" alt="logo de calidad" class="logos">
                </div>
                <div class="logo-content center">
                    <p>última tecnologías</p>
                    <img src="../assets/img/tecnology1.png" alt="logo de calidad" class="logos">
                </div>
                <div class="logo-content right">
                    <p>Profesionales especializados</p>
                     <img src="../assets/img/diploma.png" alt="logo de calidad" class="logos">
                </div>
            </section>
    
            <section class="second content-aside">
                <h2>Contacta con nosotros</h2>
                <aside class="aside-first">
                    <h3>¿Necesitas información?</h3>
                    <a href="../wiews/contactos.html" target="_self">contacta con nosotros</a>
                    <p><span>llámanos</span><br>+34952323256<br>+34652252523</p>
                    <p><span>Horario</span><br>9:30 a 13:30<br>16:30 a 20:30</p>
                    <p><span>Visítanos</span><br>Avda.Pablo Ruiz Picaso,71.29670</p>
                </aside>
                <aside class="aside-second">
                    <div class="sociales">
                        <div>
                            <img src="../assets/img/logo_whatsapp.png" alt="Whatsapp">
                        </div>
                        <div class="name-logo">
                            <p>Whatsapp</p>
                        </div>
                    </div>
                    <div class="sociales">
                        <div>
                            <img src="../assets/img/logo_faceboock.png" alt="faceboock">
                        </div>
                        <div class="name-logo">
                            <p>Facebook</p>
                        </div>
                    </div>
                    <div class="sociales">
                        <div>
                            <img src="../assets/img/logo_instagram.png" alt="Instagram">
                        </div>
                        <div class="name-logo">
                            <p>Instagram</p>
                        </div>
                    </div>
                </aside>
            </section>
            <div class="footer">
                <p>Aviso legal - Polílitica de Privacidad - Politica de Cookies<br>Odontologia Luna.2022.<br>Diseño:chemamp</p>
            </div>
        </footer>
        <script src="../script/js_galery.js"></script>

	</body>

</HTML>

